# Data Analyst Job data

In [20]:
# Importing required libraries
import selenium
import pandas as pd  # it will use to make dataframe
from selenium import webdriver  # it is because we need to connect to webdriver
from selenium.webdriver.common.by import By  # it will help to connect to the webdriver
import warnings
warnings.filterwarnings('ignore')  # this will ignore all the unnecessary warnings
import time

In [21]:
# now we need to connect to the webdriver
driver = webdriver.Chrome(r'C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe')

# sending link to connect to our desired website into the automated web browser
driver.get('https://www.naukri.com/')

In [22]:
# inserting designation and location as required
# first finding the designation element
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')  # sending Data Analyst as a keyword to enter in designation field

In [23]:
# finding the location element
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')  # here we are finding the location element by its xpath because class names are same for both

In [24]:
# finding the search button 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click() # clicking the search

In [25]:
# making different lists to store different data in it
job_title = []
job_location = []
company_name = []
experience_required = []

In [26]:
# scrapping the job title from the page
title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')  # finding all the job titles
for i in title[0:10]:  # gettig only first 10 job titles
    job_title.append(i.text)  # appending these titles in the list
    
# scrapping the job location
location = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]') # finding all the locations
for i in location[0:10]: # getting only first 10 job location respectively
    job_location.append(i.text) # appending these locations in list
    
# Scraping company name
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') # finding all the company names
for i in company[0:10]: # getting only first 10 company names respectively
    company_name.append(i.text)  # appending them in list
    
# scraping experience required for jobs
experience = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]') # finding experience for jobs
for i in experience[0:10]: # getting only first 10 jobs experience required
    experience_required.append(i.text)  # appending them in list

In [27]:
# Checking the length of the data
len(job_title),len(job_location),len(company_name),len(experience_required)

(10, 10, 10, 10)

In [30]:
# making dataframe
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
1,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
2,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs
3,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
4,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Cargill,2-4 Yrs
6,Data Analyst / Product Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR",Benchire,2-5 Yrs
7,Senior Data Analyst - Data Modeling/Quality,Bangalore/Bengaluru,Get My Parking,4-9 Yrs
8,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Yallas Technology Solutions Opc,2-7 Yrs
9,Sr . Data Analyst,Bangalore/Bengaluru,Aidash Systems,3-8 Yrs

# Data Scientist Job Data

In [31]:
# Importing required libraries
import selenium
import pandas as pd  # it will use to make dataframe
from selenium import webdriver  # it is because we need to connect to webdriver
from selenium.webdriver.common.by import By  # it will help to connect to the webdriver
import warnings
warnings.filterwarnings('ignore')  # this will ignore all the unnecessary warnings
import time

In [32]:
# connecting to the webdriver
driver = webdriver.Chrome(r'C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe')

# sending link to connect to our desired website into the automated web browser
driver.get('https://www.naukri.com/')

In [33]:
# inserting designation and location as required
# finding the designation element
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')  # sending Data Scientist to enter in designation field

In [34]:
# finding the location element
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore') # sending Bangalore to enter in location field

In [35]:
# finding search 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click() # clicking the search

In [36]:
# making different lists to store data in it
job_title = []
job_location = []
company_name = []

In [39]:
# scrapping job title
tit = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')  # finding all the job titles
for i in tit[0:10]:  # gettig only first 10 job titles
    job_title.append(i.text)  # appending titles in the list
    
# scrapping job location
location = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]') # finding all the location
for i in location[0:10]: # getting only first 10 job location respectively
    job_location.append(i.text) # appending these location in list
    
# Scraping company name
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') # finding all the company name
for i in company[0:10]: # getting only first 10 company name respectively
    company_name.append(i.text)  # appending them in list

In [40]:
# Getting length of data collected
len(job_title),len(job_location),len(company_name)

(10, 10, 10)

In [41]:
# making dataframe
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree Limited
4,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
5,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture
6,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
7,Data Scientist - Supply Chain,Bangalore/Bengaluru,Cargill
8,Data Science Lead - Forecasting,Bangalore/Bengaluru,Cargill
9,Senior Data Scientist,Bangalore/Bengaluru,Cargill

# Web Scraping by applying filters

In [19]:
# importing required libraries
import selenium       # this will help to do scraping
from selenium import webdriver  # this is because we need to connect to the webdriver
from selenium.webdriver.common.by import By  # this will help to connect to the webdriver
import pandas as pd  # this will use to make dataframe
import warnings  
warnings.filterwarnings('ignore')  # this will ignore all unnecessary warnings

In [20]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
# sending url to the webdriver
driver.get('https://www.naukri.com/')

In [22]:
# inserting designation as required
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
# sending key to insert to the designation
designation.send_keys('Data Scientist')

In [23]:
# finding search button and click it
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [24]:
# getting location filter and check it
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
location.click()

In [25]:
# getting salary filter and check it
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [26]:
# making lists for different data
job_title = []
job_location = []
company = []
experience = []

In [27]:
# getting job title
title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title[0:10]:   # getting only first 10 elements
    job_title.append(i.text)  # appending them in list
    
# getting job location
loc = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc[0:10]:
    job_location.append(i.text)
    
# getting company name
comp = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    company.append(i.text)
    
# getting experience required
exp = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp[0:10]:
    experience.append(i.text)

In [28]:
# getting length of every data collected
len(job_title),len(job_location),len(company),len(experience)

(10, 10, 10, 10)

In [29]:
# making dataframe
df = pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company,'Experience Required':experience})
df

,Job Title,Job Location,Company Name,Experience Required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
4,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
5,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,Jr. Data Scientist,Noida,Dataflow,1-3 Yrs

# Sunglasses data

In [1]:
# importing required libraries
import selenium  # for web scraping
from selenium import webdriver  # We need to connect to the webdriver
from selenium.webdriver.common.by import By  # this will help to connect to the web driver
import pandas as pd   # this will help to make dataframe
import warnings
warnings.filterwarnings('ignore')   # this will ignore all the unnecessary warnings
import time

In [2]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# sending url to the webdriver
driver.get('https://www.flipkart.com/')

In [4]:
# finding and sending key to search
search = driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys('sunglasses')

In [5]:
# clicking the search button
button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
button.click()

In [6]:
# making lists for different data
brand_name = []
product_description = []
price = []

In [7]:
# getting brand name
for page in range(3):  # we need to scrap more than one page data
    # Getting brand name
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand[0:100]:  # getting first 100 brand name
        brand_name.append(i.text)
        
    # getting product description
    p_dis = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_dis[0:100]: 
        product_description.append(i.text)
        
    # getting price
    p = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in p[0:100]:
        price.append(i.text)
        
     # we need to click next button to scrap data from next pages
    next_b = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_b.click()
    time.sleep(4)

In [8]:
# getting length of data collected
len(brand_name),len(product_description),len(price)

(120, 120, 120)

In [9]:
# Getting only desired length of data
brand = brand_name[:100]
description = product_description[:100]
pr = price[:100]

In [10]:
# seeing length of data
len(brand),len(description),len(pr)

(100, 100, 100)

In [11]:
# making dataframe
df = pd.DataFrame({'Brand Name':brand,'Product Description':description,'Price':pr})
df

       Brand Name                                Product Description Price
0   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹806
1   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹849
2      LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹129
..            ...                                                ...   ...
95      Elligator                UV Protection Round Sunglasses (54)  ₹286
96  VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹701
97         Fair-x  Mirrored, Riding Glasses, UV Protection Sports...  ₹449
98     LIZA ANGEL  UV Protection, Polarized Rectangular Sunglasse...  ₹129
99      New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹259

[100 rows x 3 columns]

# Reviews of Iphone 11

In [13]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [14]:
# connecting to the webdriver
driver = webdriver.Chrome(r'"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe"')

In [15]:
# sending url to the webdriver
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [16]:
# Making lists for different data
rat = []
summ = []
full = []

In [17]:
# We have to collect 10 page data so we have to go next 10 pages to collect all data
for page in range(10):
    # getting ratings
    ra = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ra[:100]:
        rat.append(i.text)
        
    # getting review summary
    su = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in su[:100]:
        summ.append(i.text)
        
    # getting full review
    re = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in re[:100]:
        full.append(i.text)
        
    # finding and clicking on next button 
    next_but = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_but.click()
    time.sleep(11)

In [18]:
# getting length of collected data
len(rat),len(summ),len(full)

(100, 100, 100)

In [19]:
# making Data frame
df = pd.DataFrame({'Rating':rat,'Review Summary':summ,'Full Review':full})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

# Sneakers Details

In [28]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [29]:
# connecting to the webdriver
driver = webdriver.Chrome(r'"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe"')

In [30]:
# sending url to the webdriver
driver.get('https://www.flipkart.com/')

In [31]:
# sending key to search
product = driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [32]:
# finding and clicking search button
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [33]:
# making lists for different data
brand = []
description = []
price = []

In [34]:
# we have to go next 3 pages to collect 100 data
for page in range(3):
    # getting brand name
    bnd = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in bnd[:100]:
        brand.append(i.text)
        
    # getting product description
    des = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des[:100]:
        description.append(i.text)
        
    # getting price
    pr = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr[:100]:
        price.append(i.text)
        
    # finding next button and going to next pages
    next_but = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_but.click()
    time.sleep(4)

In [35]:
# getting length of collected data
len(brand),len(description),len(price)

(120, 111, 120)

In [36]:
# getting desired length of data
br = brand[:100]
desc = description[:100]
pr = price[:100]

In [38]:
# Making dataframe
df = pd.DataFrame({'Brand':br,'Product Description':desc,'Price':pr})
df

           Brand                                Product Description   Price
0         lejano                                   Sneakers For Men    ₹493
1       RapidBox                RapidBox Men Shoes Sneakers For Men    ₹599
2         Labbin                                   Sneakers For Men    ₹399
3            SFR                                   Sneakers For Men    ₹299
4         Shozie                                   Sneakers For Men    ₹299
..           ...                                                ...     ...
95        BRUTON  Modern Trendy Sneakers boot Sneakers Sneakers ...    ₹581
96  JACK & JONES  Future-04 casual shoes for men | Latest Stylis...  ₹1,499
97          PUMA                                   Sneakers For Men  ₹3,839
98        BRUTON                          Sneakers Sneakers For Men    ₹299
99        Kraasa                     Rick Point NU Sneakers For Men    ₹299

[100 rows x 3 columns]

# Laptop Details

In [91]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [92]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [93]:
# sending url to the webdriver
driver.get('https://www.amazon.in/')

In [94]:
# sending key to search
sf = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
sf.send_keys('Laptop')

In [95]:
# clicking on search button
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [96]:
# applying cpu type filter
cpu = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[12]/span/a/div/label/i')
cpu.click()

In [97]:
# creating lists for different data
title = []
rating = []
price = []

In [98]:
# scraping title
ti = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in ti[:10]:        # getting first 10 titles
    title.append(i.text)  
    
# getting ratings
rat = driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rat[:10]:   # getting first 10 ratings respectively
    rating.append(i.text)
    
# getting price
pr = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pr[:10]:    # getting first 10 laptop price respectively
    price.append(i.text)

In [99]:
# getting length of data collected
len(title),len(rating),len(price)

(10, 10, 10)

In [104]:
# making dataframe
df = pd.DataFrame({'Title':title,'Ratings':rating,'Price':price})
df

                                               Title Ratings   Price
0  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...   (3.2)  24,960
1  Samsung Galaxy Book2 Intel 12th Gen core i7 39...   (3.7)  76,490
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...   (4.0)  93,990
3  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...   (3.9)  79,990
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...   (4.2)  82,990
5  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...   (2.4)  22,999
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...   (3.9)  57,990
7  (Renewed) Dell Latitude E7470 Intel Core i7 6t...   (4.0)  29,981
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...   (4.2)  89,000
9  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...   (4.4)  79,990

# Top 1000 quotes of all time

In [4]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [5]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
# sending url to the webdriver
driver.get('https://www.azquotes.com/')

In [7]:
# clicking on top quotes
quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quotes.click()

In [8]:
# making lists to collect desired data
qu = []
au = []
tq = []

In [9]:
# we have to go next pages to collect desired amount of data
for page in range(10):
    # getting quotes
    q = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in q:
        qu.append(i.text)
    
    # getting authors respectively
    at = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in at:
        au.append(i.text)
        
    # getting type of quote
    typ = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in typ:
        tq.append(i.text)
        
    # clicking next button to go next upto desired pages
    nex = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    # getting the next button by its absolute XPATH because there are 2 next buttons there
    nex.click()
    time.sleep(11)

In [10]:
# getting length of collected data
len(qu),len(au),len(tq)

(1000, 1000, 1000)

In [11]:
# making dataframe
df = pd.DataFrame({'Quote':qu,'Author':au,'Type of Quote':tq})
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"