# 1. Header Tags from wikipedia

In [2]:
# Importing the required libraries for scraping data
from bs4 import BeautifulSoup   #It will parse the source code and get required data
import requests                 #It will send request to the to get source code
import pandas as pd             # It will help to make dataframe

#Requesting the url to get source code
wikipedia = requests.get('https://en.wikipedia.org/wiki/Main_Page')

# Getting the contents of webpage
wikicontent = BeautifulSoup(wikipedia.content)

headerlist = []    # Creating an empty list to store all the tags in it

#We will use for loop to extract all the tags one by one
for i in wikicontent.find_all('span',class_="mw-headline"):
    headerlist.append(i.text)     # Appending all the header tags one by one in list
    
    
# Making dataframe
framing = pd.DataFrame({'Header Tag':headerlist})
framing

                      Header Tag
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# 2. Top Rated 100 IMDB Movies

In [16]:
# Getting all the required libraries
from bs4 import BeautifulSoup  # This will help to get the required data
import requests # This will send request to the url for source code
import pandas as pd

# Sending request to the url
re = requests.get('https://www.imdb.com/list/ls091520106/?sort=list_order,asc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp')

# Getting the contents of the page
bs = BeautifulSoup(re.content)

ml = [] # Creating an empty list to store movies 
for i in bs.find_all('span',class_='lister-item-header'): # Getting movies name one by one
    ml.append(i.text.split()[1:-1])  # Appending them in list by splitting the undesired data
    
rt = [] # Creating list to store raitngs given to the movies
for i in bs.find_all('div',class_='col-imdb-rating'): # Finding ratings of the movies respectively one by one
    rt.append(i.text.split())  # Appending the ratings of the movies in list by splitting undesired data one by one
    
yor = [] # List to store year of release
for i in bs.find_all('span',class_='lister-item-year text-muted unbold'): # Getting year of release one by one respectively
    yor.append(i.text) # Appending one by one in list
    
# Making dataframe
df = pd.DataFrame({'Movie Name':ml,'Rating':rt,'Year of Release':yor})
df

                                   Movie Name Rating Year of Release
0                [The, Shawshank, Redemption]  [9.3]          (1994)
1                            [The, Godfather]  [9.2]          (1972)
2                  [The, Godfather, Part, II]    [9]          (1974)
3                         [The, Dark, Knight]    [9]          (2008)
4                            [12, Angry, Men]    [9]          (1957)
..                                        ...    ...             ...
95                     [North, by, Northwest]  [8.3]          (1959)
96                     [A, Clockwork, Orange]  [8.3]          (1971)
97                                   [Snatch]  [8.2]          (2000)
98  [Le, fabuleux, destin, d'Amélie, Poulain]  [8.3]          (2001)
99                                 [The, Kid]  [8.3]          (1921)

[100 rows x 3 columns]

# 3. Top 100 Indian Movies of IMDB

In [3]:
# Importing required libraries
from bs4 import BeautifulSoup # This will help to get content
import requests  # This will send request to the server for source code
import pandas as pd  # This will help to make dataframe

# Sending the request to the server
re = requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp')

# Getting the page contents
bs = BeautifulSoup(re.content)

# Making list to store Movies
ml = []
for i in bs.find_all('span',class_='lister-item-header'): # Getting the required data
    ml.append(i.text.split()[1:-1]) # Appending only required data into the list
    
# Making list to store their ratings repectively
rt = []
for i in bs.find_all('div',class_='col-imdb-rating'): # Getting the ratings of the movies respectively one by one
    rt.append(i.text.split())  # Appending only required datas into the list by splitting them
    
# Making list to store Year of release of the movies one by one
yor = []
for i in bs.find_all('span',class_='lister-item-year text-muted unbold'): # Getting year of release from the page respectively
    yor.append(i.text)  # Appending the data into the list one by one respectively
    
# Making dataframe
df = pd.DataFrame({'Movie Name':ml,'Rating':rt,'Year of Release':yor})

df

                       Movie Name Rating Year of Release
0                       [Golmaal]  [8.5]          (1979)
1                     [3, Idiots]  [8.4]          (2009)
2            [Taare, Zameen, Par]  [8.4]          (2007)
3                 [Black, Friday]  [8.4]          (2004)
4                         [Guide]  [8.4]          (1965)
..                            ...    ...             ...
95                     [Rangeela]  [7.4]          (1995)
96  [Jaane, Tu..., Ya, Jaane, Na]  [7.4]          (2008)
97               [Socha, Na, Tha]  [7.4]          (2005)
98    [Qayamat, Se, Qayamat, Tak]  [7.4]          (1988)
99                        [Gunda]  [7.4]          (1998)

[100 rows x 3 columns]

# 4. Former Presidents List

In [82]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the url
re = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making two different empty lists to add names and terms of office in it
name = []
tof = []
for i in bs.find_all('div',class_='presidentListing'): # Finding the data from the page
    n = i.text.split('\n')[1]  # Getting required data and holding it in a variable by splitting it
    name.append(n.split('(')[0])  # Appending only required data i.e name in list by splitting it again
    
    t = i.text.split(':')[1]  # Getting required data i.e terms of office by splitting it
    tof.append(t.split('\n')[0])  # Getting only dates by again splitting unnecessary data from it
    
# Making dataframe
df = pd.DataFrame({'Former Presidents Name':name,'Terms of Office':tof})

df

,Former Presidents Name,Terms of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5. Top 10 ODI Teams

In [16]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the page for source code
rq = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi') 

# Getting the contents of page
bs = BeautifulSoup(rq.content)

# Making a user defined function for this
def Top_10():
    tm = [] # Creating enmpty table to insert teams
    for i in bs.find_all('span',class_='u-hide-phablet'):
        tm.append(i.text)
    teams = tm[:10]    # Getting only top 10 teams
    
    # Matches for teams
    mt = [] # Empty list to add no of matches in it
    m = bs.find('td',class_='rankings-block__banner--matches')  # Getting the top team matches
    mt.append(m.text)                                           # Appending the top team matches
    p = bs.find('td',class_='rankings-block__banner--points')  # Getting the top team points
    mt.append(p.text)                                          # Appending the top team matches
    
    for i in bs.find_all('td',class_='table-body__cell u-center-text'): # Getting rest teams matches and points respectively
        mt.append(i.text)
        
    matches = mt[0:19:2]  # Getting the top 10 teams matches only
    
    # Points of top 10 teams
    points = mt[1:21:2]
    
    # Ratings of teams
    rt = []  # Making empty list to get ratings of all teams
    r = bs.find('td',class_='rankings-block__banner--rating u-text-right') # Getting the top team rating
    tr = r.text.split() # Getting only required data
    rt.append(tr[0])    # Appending the top team rating
    
    for i in bs.find_all('td',class_='table-body__cell u-text-right rating'): # Getting all teams ratings respectively
        rt.append(i.text)  # Appending the ratings in list
        
    rating = rt[:10]  # Getting only top 10 team ratings
    
    # Framing the data in structured form
    df = pd.DataFrame({'Teams':teams,'Matches':matches,'Points':points,'Rating':rating})
    return df
    
Top_10()

          Teams Matches Points Rating
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      35  3,866    110
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      30  2,753     92
7     Sri Lanka      30  2,677     89
8   Afghanistan      19  1,380     73
9   West Indies      41  2,902     71

Top 10 ODI Batsmen

In [16]:
# Importing required libraries
from bs4 import BeautifulSoup # This will help to get content
import requests  # this will send request to the server for source code
import pandas as pd  # this will help to make dataframe

# Sending request to the url
re = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

# Getting page content
bs = BeautifulSoup(re.content)

# Making user defined function for this
def Batsmen():
    # Making list to add top batsmen in list
    n = []
    b = bs.find('div',class_='rankings-block__banner--name-large') # Getting top batsman
    n.append(b.text) # appending top batsman in the list
    for i in bs.find_all('td',class_='table-body__cell rankings-table__name name'): # Getting rest batsmen respectively
        n.append(i.text.split()) # appending only required data of rest all batsmen one by one respectively by splitting them
    name = n[:10]  # Adding only top ten batsmen in list
    
    # Making list to add their teams respectively
    t = []
    te = bs.find('div',class_='rankings-block__banner--nationality') # Getting top batsman team
    t.append(te.text.split()) # appending only required data of top batsman in the list by splitting them
    for i in bs.find_all('span',class_='table-body__logo-text'): # Getting rest batsmen teams respectively
        t.append(i.text.split()) # appending only required data of team to the list
    team = t[:10] # adding only top ten batsmen team in list respectively
    
    # Making list to add their ratings
    r = []
    rt = bs.find('div',class_='rankings-block__banner--rating') # Getting only first player rating
    r.append(rt.text) # appending only top batsmen rating in list
    for i in bs.find_all('td',class_='table-body__cell rating'): # Getting rest batsmen ratings respectively
        r.append(i.text) # Appending rest batsmen ratings respectively
    rating = r[0:10] # Adding only top ten batsmen ratings
    
    # Making Dataframe
    df = pd.DataFrame({'Player':name,'Team':team,'Rating':rating})
    
    return df

Batsmen()

                       Player   Team Rating
0                  Babar Azam  [PAK]    890
1               [Imam-ul-Haq]  [PAK]    779
2  [Rassie, van, der, Dussen]   [SA]    766
3         [Quinton, de, Kock]   [SA]    759
4             [David, Warner]  [AUS]    747
5              [Steve, Smith]  [AUS]    719
6           [Jonny, Bairstow]  [ENG]    710
7              [Virat, Kohli]  [IND]    707
8             [Rohit, Sharma]  [IND]    704
9          [Kane, Williamson]   [NZ]    701

Top 10 ODI Bowlers

In [47]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the url
re = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

# Getting content of the page
bs = BeautifulSoup(re.content)

# Making user defined function for this operation
def Bowlers():
    # Making empty list to add bowlers name into it
    n = []
    b = bs.find('div',class_='rankings-block__banner--name-large') # Getting only top bowler name
    n.append(b.text)
    for i in bs.find_all('td',class_='table-body__cell rankings-table__name name'): # Getting rest players name one by one
        n.append(i.text.split()) # Adding rest players name by splitting unnecessary data
    name = n[:10]  # Getting only top ten bowlers
    
    # Making empty list to add players team
    t = []
    tb = bs.find('div',class_='rankings-block__banner--nationality') # Getting only top player team
    b = tb.text.split()  # getting top bowler team name by splitting unnecessary data
    t.append(b[0]) # appending only required data 
    for i in bs.find_all('span',class_='table-body__logo-text'): # Getting rest players team
        tn = i.text.split()  # getting only required data in the list by splitting it
        t.append(tn[0]) # Appending only required data
    team = t[:10] # Getting only top 10 players team name respectively
    
    # Making list to add ratings into it
    r = []
    tr = bs.find('div',class_='rankings-block__banner--rating') # Getting only top player rating 
    r.append(tr.text) # Appending only top player rating into list
    for i in bs.find_all('td',class_='table-body__cell rating'): # Getting rest players ratings respectively
        r.append(i.text) # appending rest players ratings one by one respectively in list
    rating = r[:10]  # Getting only top 10 players ratings
    
    # Making Dataframe
    df = pd.DataFrame({'Player Name':name,'Team':team,'Ratings':rating})
    
    return df

Bowlers()

            Player Name Team Ratings
0           Trent Boult   NZ     760
1     [Josh, Hazlewood]  AUS     727
2     [Mitchell, Starc]  AUS     665
3     [Shaheen, Afridi]  PAK     661
4         [Matt, Henry]   NZ     656
5         [Adam, Zampa]  AUS     655
6       [Mehedi, Hasan]  BAN     655
7  [Mujeeb, Ur, Rahman]  AFG     650
8  [Mustafizur, Rahman]  BAN     640
9        [Rashid, Khan]  AFG     635

# 6. Top 10 Womens ODI Teams

In [26]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the page for source code
rq = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi') 

# Getting the contents of page
bs = BeautifulSoup(rq.content)

# Making a user defined function for this
def Top_10_Women():
    tm = [] # Creating enmpty table to insert teams
    for i in bs.find_all('span',class_='u-hide-phablet'):
        tm.append(i.text)
    teams = tm[:10]    # Getting only top 10 womens teams
    
    # Matches for teams
    ma = [] # Empty list to add no of matches in it
    m = bs.find('td',class_='rankings-block__banner--matches')  # Getting only top womens team matches
    ma.append(m.text)                                           # Appending the top team matches
    p = bs.find('td',class_='rankings-block__banner--points')  # Getting only top womens team points
    ma.append(p.text)                                          # Appending the top team matches
    
    for i in bs.find_all('td',class_='table-body__cell u-center-text'): # Getting rest teams matches and points respectively
        ma.append(i.text)
        
    matches = ma[0:19:2]  # Getting the top 10 womens teams matches only
    
    # Points of top 10 womens teams respectively
    points = ma[1:21:2]
    
    # Ratings of teams respectively
    rt = []  # Making empty list to get ratings of all teams
    r = bs.find('td',class_='rankings-block__banner--rating u-text-right') # Getting only top team rating
    tr = r.text.split() # Getting only required data by splitting unnesessary data
    rt.append(tr[0])    # Appending only top team rating
    
    for i in bs.find_all('td',class_='table-body__cell u-text-right rating'): # Getting all teams ratings respectively
        rt.append(i.text)  # Appending the ratings in list
        
    rating = rt[:10]  # Getting only top 10 team ratings
    
    # Framing the data in structured form
    df = pd.DataFrame({'Teams':teams,'Matches':matches,'Points':points,'Rating':rating})
    return df
    
Top_10_Women()

          Teams Matches Points Rating
0     Australia      18  3,061    170
1  South Africa      26  3,098    119
2       England      25  2,904    116
3         India      27  2,820    104
4   New Zealand      24  2,425    101
5   West Indies      24  2,334     97
6    Bangladesh      12    932     78
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

Top 10 Womens ODI batsmen

In [9]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending requests to get data
re = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making a user defined function for this operation
def Women_Batsmen():
    # Making empty list to add top women batsmen in it
    w = []
    tw = bs.find('div',class_='rankings-block__banner--name-large') # Getting only top women batsman name
    w.append(tw.text)
    for i in bs.find_all('td',class_='table-body__cell rankings-table__name name'): # Getting rest all women batsmen names
        w.append(i.text.split()) # Appending only required data by splitting it
    women = w[:10] # Getting only top ten women batsmen name
    
    # Making empty list to add team name into it
    t = []
    tt = bs.find('div',class_='rankings-block__banner--nationality') # Getting only top women batsmen team name
    l=tt.text.split() # Getting only required data by splitting it and holding it in a new variable
    t.append(l[0]) # Appending only required data into the list
    for i in bs.find_all('span',class_='table-body__logo-text'): # Getting rest women batsmen team name respectively
        t.append(i.text) # Adding only required data by splitting it
    team = t[:10]
    
    # Making empty list to add top Women batsmen rating
    r = []
    tr = bs.find('div',class_='rankings-block__banner--rating') # gettign only top team rating
    r.append(tr.text) # Getting only top women batsmen rating
    for i in bs.find_all('td',class_='table-body__cell rating'): # getting rest women batsmen ratings one by one
        r.append(i.text) # Appending rest women batsmen ratings one by one respectively
    rating = r[:10] # Getting only top ten women batsmen ratings
    
    # Making Dataframe
    df = pd.DataFrame({'Name':women,'Team':team,'Rating':rating})
    return df

Women_Batsmen()

                     Name Team Rating
0            Alyssa Healy  AUS    785
1          [Beth, Mooney]  AUS    749
2      [Laura, Wolvaardt]   SA    732
3       [Natalie, Sciver]  ENG    725
4     [Harmanpreet, Kaur]  IND    716
5      [Smriti, Mandhana]  IND    714
6          [Meg, Lanning]  AUS    710
7       [Rachael, Haynes]  AUS    701
8    [Amy, Satterthwaite]   NZ    661
9  [Chamari, Athapaththu]   SL    655

Top 10 women ODI Bowlers

In [35]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the url
re = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making a user defined function for this operation
def Women_Allrounder():
    # Making an empty list to store names of allrounders in it
    wa = []
    t = bs.find('div',class_='rankings-block__banner--name-large') # Getting only top allrounder name
    wa.append(t.text) # Appending only top allrounder in the list
    for i in bs.find_all('td',class_='table-body__cell rankings-table__name name'): # Gettting rest names respectively
        wa.append(i.text.split()) # Appending only required data by splitting it
    name = wa[:10]  # Getting only top ten names
    
    # Making empty list to add teams of allrounders respectively
    te = []
    tm = bs.find('div',class_='rankings-block__banner--nationality') # Getting only first player team
    te.append(tm.text.split()[0]) # Appending only required data by splitting it
    for i in bs.find_all('span',class_='table-body__logo-text'): # Getting rest player's teams respectively
        te.append(i.text) # Appending rest players teams name respectively
    team = te[:10]  # Getting only top 10 players team name
    
    # Making an empty list to append players ratings
    r = []
    rt = bs.find('div',class_='rankings-block__banner--rating') # Getting only top player rating
    r.append(rt.text)  # Appending only top player rating
    for i in bs.find_all('td',class_='table-body__cell rating'): # Getting rest players ratings
        r.append(i.text)  # Appending rest players ratings respectively
    rating = r[:10]  # Getting only top 10 players ratings
    
    # Making Dataframe
    df = pd.DataFrame({'Player Name':name,'Team':team,'Rating':rating})
    return df

Women_Allrounder()

           Player Name Team Rating
0      Hayley Matthews   WI    380
1      [Ellyse, Perry]  AUS    374
2    [Natalie, Sciver]  ENG    357
3       [Amelia, Kerr]   NZ    356
4    [Marizanne, Kapp]   SA    349
5     [Deepti, Sharma]  IND    322
6  [Ashleigh, Gardner]  AUS    270
7     [Jess, Jonassen]  AUS    246
8    [Jhulan, Goswami]  IND    214
9   [Katherine, Brunt]  ENG    207

# 7. News Details

In [45]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the url
re = requests.get('https://www.cnbc.com/world/?region=world')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making a user defined function for this
def News_Details():
    
    # Making an empty list to store headlines in it
    headline = []
    for i in bs.find_all('a',class_='LatestNews-headline'): # Getting all headlines
        headline.append(i.text) # Appending all headline one by one in list
        
    # Making an empty list to add time in it
    time = []
    for i in bs.find_all('time',class_='LatestNews-timestamp'): # Getting relative time of the headlines
        time.append(i.text)
        
    # Making an empty list to store news link
    nl = []
    for i in bs.find_all('a',class_='LatestNews-headline'): # Getting news link respectively
        nl.append(i.get('href'))  # Appending news link in the list
        
    # Making Dataframe
    df = pd.DataFrame({'Headline':headline,'Time':time,'News Link':nl})
    
    # Returning to get dataframe
    return df


News_Details()

,Headline,Time,News Link
0,Parking lots are becoming as important as cars...,19 Hours Ago,https://www.cnbc.com/2022/12/03/parking-lots-b...
1,Amazon's cloud unit faces cost-sensitive custo...,20 Hours Ago,https://www.cnbc.com/2022/12/03/aws-faces-cost...
2,Don’t overlook this health warning on your dec...,20 Hours Ago,https://www.cnbc.com/2022/12/03/dont-overlook-...
3,How electric air taxis could shake up the airl...,20 Hours Ago,https://www.cnbc.com/2022/12/03/how-electric-a...
4,I raised 2 successful CEOs and a doctor. Here'...,20 Hours Ago,https://www.cnbc.com/2022/12/03/i-raised-2-suc...
5,Delta pilots would get more than 30% in pay ra...,20 Hours Ago,https://www.cnbc.com/2022/12/03/delta-pilots-w...
6,Men participate less in 401(k) plans than wome...,21 Hours Ago,https://www.cnbc.com/2022/12/03/men-participat...
7,The best U.S. states to raise a family if you ...,21 Hours Ago,https://www.cnbc.com/2022/12/03/best-states-ra...
8,Susan Cain: This Bob Dylan-inspired phrase can...,21 Hours Ago,https://www.cnbc.com/2022/12/03/bestselling-au...
9,The difference between this comeback and the m...,21 Hours Ago,https://www.cnbc.com/2022/12/03/the-difference...
10,Goldman says buy these five stocks for the lon...,21 Hours Ago,https://www.cnbc.com/2022/12/03/goldman-says-b...
11,Celsius users with crypto collateral stuck tur...,22 Hours Ago,https://www.cnbc.com/2022/12/03/celsius-users-...
12,Cramer's lightning round: Let Extreme Networks...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-lightn...
13,Jim Cramer says these 3 apparel stocks benefit...,"December 2, 2022",https://www.cnbc.com/2022/12/02/jim-cramer-say...
14,Cramer’s week ahead: Markets need a strong job...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-week-a...
15,Pro Picks: Watch all of Friday's big stock cal...,"December 2, 2022",https://www.cnbc.com/2022/12/02/pro-picks-watc...
16,"There is 'enormous opportunity' in REITs, says...","December 2, 2022",https://www.cnbc.com/2022/12/02/reits-offer-en...
17,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
18,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
19,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...
20,"These beat-up tech stocks have potential, ‘Hal...","December 2, 2022",https://www.cnbc.com/2022/12/02/big-tech-stock...
21,The Fed's path to a 'Goldilocks' economy just ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-feds-path-...
22,3 things crypto investors need to know in post...,"December 2, 2022",https://www.cnbc.com/2022/12/02/three-things-c...
23,Biden condemns antisemitism as Ye praises Hitl...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-condemns...
24,Georgia man arrested for shooting boy campaign...,"December 2, 2022",https://www.cnbc.com/2022/12/02/georgia-electi...
25,What to watch in the markets in the week ahead,"December 2, 2022",https://www.cnbc.com/2022/12/02/markets-lookin...
26,The biggest tax changes to know before filing ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-biggest-ta...
27,'This is a crisis.' Why more workers need acce...,"December 2, 2022",https://www.cnbc.com/2022/12/02/why-more-worke...
28,Carnival’s Princess Cruises will return to Jap...,"December 2, 2022",https://www.cnbc.com/2022/12/02/carnivals-prin...
29,Tech layoffs may not be a bad omen for U.S. ec...,"December 2, 2022",https://www.cnbc.com/2022/12/02/tech-layoffs-m...

# 8. AI Articles

In [55]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to the url
re = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making a user defined function to do this operation
def AI():
    
    # Making an empty list to add paper titles in it
    pt = []
    for i in bs.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'): # Getting paper title
        pt.append(i.text)  # Appending paper title in list
        
    # Making an empty list to add authors name in it
    authors = []
    for i in bs.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'): # Getting authors name one by one respectively
        authors.append(i.text)  # Appending authors name in list one by one
    
    # Making an empty list to add publised date of article in it respectively
    pdate = []
    for i in bs.find_all('span',class_='sc-1thf9ly-2 dvggWt'): # Getting published date of the atricles respectively one by one
        pdate.append(i.text) # Appending published date in the list
        
    # Making an empty list to add paper url
    url = []
    for i in bs.find_all('a',class_='sc-5smygv-0 fIXTHm'): # Getting papers url
        url.append(i.get('href'))
        
    # Making dataframe
    df = pd.DataFrame({'Paper Title':pt,'Authors':authors,'Published Date':pdate,'Paper URL':url})

    # Returning to get dataframe
    return df

AI()

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9. Restraunt Details

In [65]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending request to url 
re = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making an empty list to add restaurants name into it
rname = []
for i in bs.find_all('a',class_='restnt-name ellipsis'): # Getting restaurants name one by one
    rname.append(i.text)  # Appending restaurants name in the list
    
# Making an empty list to add cousine in it
cousine = []
for i in bs.find_all('span',class_='double-line-ellipsis'): # Getting cousine 
    cousine.append(i.text.split('|')[1]) # Appending only required data in list by splitting it
    
# Making an empty list to add location of restaurants in it
location = []
for i in bs.find_all('div',class_='restnt-loc ellipsis'): # Getting location of restaurants one by one respectively
    location.append(i.text)  # Appending locations in list one by one
    
# Making empty list to add ratings in it
rating = []
for i in bs.find_all('div',class_='restnt-rating rating-4'): # Getting ratings of restaurants respectively
    rating.append(i.text) # Appending ratings one by one respectively
    
# Making an empty list to add image url in it
image = []
for i in bs.find_all('img',class_='no-img'): # Getting image url
    image.append(i.get('data-src')) # Appending image url in list respectively
    
# Making dataframe
df = pd.DataFrame({'Restaurant Name':rname,'Cousine':cousine,'Location':location,'Ratings':rating,'Image URL':image})

df

,Restaurant Name,Cousine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10. Top Google Scholar

In [78]:
# Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# sending request to url
re = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

# Getting page contents
bs = BeautifulSoup(re.content)

# Making an empty list to add rank in it
rank = []
for i in bs.find_all('td',class_='gsc_mvt_p'): # Getting ranks of scholar
    rank.append(i.text)  # Appending rank in list
    
# Making empty list to add publication in it
publication = []
for i in bs.find_all('td',class_='gsc_mvt_t'):  # Getting publication name one by one
    publication.append(i.text)  # Appending publication name in list one by one
    
# Making empty list to add h5-index and h5-median in it
im = []
for i in bs.find_all('td',class_='gsc_mvt_n'):  # Getting h5-index and h5-median one by one
    im.append(i.text)  # Appending h5-index and h5-median one by one in list respectively
    
# Getting only h5-index
h5index = im[0:200:2]

# Getting only h5-median
h5median = im[1:200:2]
    
# Making dataframe
df = pd.DataFrame({'Rank':rank,'Publication':publication,'h5-index':h5index,'h5-median':h5median})

df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]