# Most viewed videos on YouTube

In [1]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# sending url to the webdriver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
# making empty lists to add different data in it
rank = []
name = []
artist = []
u_date = []
views = []

In [5]:
# finding the rank of the most viewed videos
ra = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in ra[0:30]:  # scraping only desired data i.e top 30
    rank.append(i.text)
    
# finding video name
n = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in n[0:30]:
    name.append(i.text)
    
# finding artist name
art = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in art[0:30]:
    artist.append(i.text)
    
# finding video upload date
date = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date[0:30]:
    u_date.append(i.text)
    
# finding views
vw = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in vw[0:30]:
    views.append(i.text)

In [10]:
# checking the length of data collected
len(rank),len(name),len(artist),len(u_date),len(views)

(30, 30, 30, 30, 30)

In [11]:
# making dataframe
df = pd.DataFrame({'Rank':rank,'Name':name,'Artist Name':artist,'Upload Date':u_date,'Views in Billions':views})
df

,Rank,Name,Artist Name,Upload Date,Views in Billions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

# Team India's international fixtures

In [24]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [20]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
# sending url to the webdriver
driver.get('https://www.bcci.tv/')

In [22]:
# clicking on international fixtures
int_fix = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
int_fix.click()

In [95]:
# making different lists to append data in it
title = []
series = []
place = []
date = []
time = []

In [96]:
# we have to click view more fixtures to find all fixtures
for more in range(10):
    # finding match title
    mt = driver.find_elements(By.XPATH,'//div[@class="fixture-card-bottom"]/div/span[1]')
    for i in mt:
        title.append(i.text.split('-')[0])
        
    # finding series
    sr = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in sr:
        series.append(i.text)
        
    # finding place
    pl = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
    for i in pl:
        h = i.text.split('-')
        place.append(h[1])
    
    # finding date
    dt = driver.find_elements(By.XPATH,'//div[@class="match-top-info d-flex align-items-center justify-content-between"]/div[1]/h5')
    for i in dt:
        date.append(i.text)
        
    # finding time
    ti = driver.find_elements(By.XPATH,'//div[@class="match-top-info d-flex align-items-center justify-content-between"]/div[2]')
    for i in ti:
        time.append(i.text)
        
    # clicking on more fixture button
    try:
        mf = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
        mf.click()
        
    except NoSuchElementException:
        pass

In [97]:
# checking length of collected data
len(title),len(series),len(place),len(date),len(time)

(208, 208, 208, 208, 208)

In [98]:
# making dataframe
df = pd.DataFrame({'Match title':title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match title,Series,Place,Date,Time
0,2nd T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",29 DEC 2022,5:15 PM IST
1,3rd T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",31 DEC 2022,1:30 PM IST
2,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
3,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
4,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
...,...,...,...,...,...
203,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
204,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
205,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
206,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
207,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

# Selenium Exception

In [13]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [14]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
# sending url to the driver
driver.get('https://www.guru99.com/')

In [16]:
# going on selenium page
selenium = driver.find_element(By.XPATH,'/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5')
selenium.click()

In [17]:
# going on selenium exception handling page
exception = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
exception.click()

In [36]:
# making empty lists to add different data in it
name = []
descr = []

In [37]:
# finding exception name
n = driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p/strong')
for i in n[0:41]:  # scraping only desired data
    na = i.text.split('.')
    name.append(na[1])
    
# finding exception description
en = driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
for i in en[0:41]:  # scraping only desired data
    n = i.text.split(':')
    descr.append(n[1])

In [39]:
# checking length of data collected
len(name),len(descr)

(41, 41)

In [40]:
# making dataframe
df = pd.DataFrame({'Name':name,'Description':descr})
df

,Name,Description
0,ElementNotVisibleException:,This type of Selenium exception occurs when a...
1,ElementNotSelectableException:,This Selenium exception occurs when an elemen...
2,NoSuchElementException:,This Exception occurs if an element could not...
3,NoSuchFrameException:,This Exception occurs if the frame target to ...
4,NoAlertPresentException:,This Exception occurs when you switch to no p...
5,NoSuchWindowException:,This Exception occurs if the window target to...
6,StaleElementReferenceException:,This Selenium exception occurs happens when t...
7,SessionNotFoundException:,The WebDriver is acting after you quit the br...
8,TimeoutException:,Thrown when there is not enough time for a co...
9,WebDriverException:,This Exception takes place when the WebDriver...
10,ConnectionClosedException:,This type of Exception takes place when there...
11,ElementClickInterceptedException:,The command may not be completed as the eleme...
12,ElementNotInteractableException:,This Selenium exception is thrown when any el...
13,ErrorInResponseException:,This happens while interacting with the Firef...
14,ErrorHandler,Exception is used as a placeholder in case if...
15,ImeActivationFailedException:,This expectation will occur when IME engine a...
16,ImeNotAvailableException:,It takes place when IME support is unavailable.
17,InsecureCertificateException:,Navigation made the user agent to hit a certi...
18,InvalidArgumentException:,It occurs when an argument does not belong to...
19,InvalidCookieDomainException:,This happens when you try to add a cookie und...
20,InvalidCoordinatesException:,This type of Exception matches an interacting...
21,InvalidElementStateException:,It occurs when command can’t be finished when...
22,InvalidSessionIdException:,This Exception took place when the given sess...
23,InvalidSwitchToTargetException:,This occurs when the frame or window target t...
24,JavascriptException:,This issue occurs while executing JavaScript ...
25,JsonException:,It occurs when you afford to get the session ...
26,NoSuchAttributeException:,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException:,It takes place if the target provided to the ...
28,NoSuchContextException:,ContextAware does mobile device testing.
29,NoSuchCookieException:,This Exception occurs when no cookie matching...
30,NotFoundException:,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException:,This Selenium exception is thrown when the se...
32,ScreenshotException:,It is not possible to capture a screen.
33,SessionNotCreatedException:,It happens when a new session could not be su...
34,UnableToSetCookieException:,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException:,Happens if a support class did not get a web ...
36,UnhandledAlertException:,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException:,It occurs when there is the appearance of an ...
38,UnknownMethodException:,This Exception happens when the requested com...
39,UnreachableBrowserException:,This Exception occurs only when the browser i...
40,UnsupportedCommandException:,This occurs when remote WebDriver doesn’t sen...

# State-wise-GDP

In [41]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [42]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [43]:
# sending url to the driver
driver.get('https://www.statisticstimes.com/')

In [46]:
# clicking on economy dropdown button
eco = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()

In [47]:
# clicking on India
In = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
In.click()

In [48]:
# clicking on GDP of Indian states
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [49]:
# making empty lists to add data in it
rank = []
state = []
gsdp1 = []
gsdp2 = []
share1 = []
GDP = []

In [50]:
# finding rank of states
rn = driver.find_elements(By.XPATH,'//div[@class="fwidth"]/div[1]/div/table/tbody/tr/td[1]')
for i in rn[0:33]:  # since we have to scrap only GSDP data and size of that is 33
    rank.append(i.text)
    
# finding state names
nm = driver.find_elements(By.XPATH,'//div[@class="fwidth"]/div[1]/div/table/tbody/tr/td[2]')
for i in nm[0:33]:
    state.append(i.text)
    
# finding gsdp(18-19) - at current prices
g18_19_cp = driver.find_elements(By.XPATH,'//div[@class="fwidth"]/div[1]/div/table/tbody/tr/td[4]')
for i in g18_19_cp[0:33]:
    gsdp1.append(i.text)
    
# finding gsdp(19-20) - at current prices
g19_20_cp = driver.find_elements(By.XPATH,'//div[@class="fwidth"]/div[1]/div/table/tbody/tr/td[3]')
for i in g19_20_cp[0:33]:
    gsdp2.append(i.text)
    
# finding share(18-19)
sh = driver.find_elements(By.XPATH,'//div[@class="fwidth"]/div[1]/div/table/tbody/tr/td[5]')
for i in sh[0:33]:
    share1.append(i.text)
    
# finding GDP
g = driver.find_elements(By.XPATH,'//div[@class="fwidth"]/div[1]/div/table/tbody/tr/td[6]')
for i in g[0:33]:
    GDP.append(i.text)

In [51]:
# checking length of data collected
len(rank),len(state),len(gsdp1),len(gsdp2),len(share1),len(GDP)

(33, 33, 33, 33, 33, 33)

In [53]:
# making dataframe
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)-at current prices':gsdp1,'GSDP(19-20)-at current prices':gsdp2,'Share':share1,'GDP($ billion)':GDP})
df

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share,GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Trending repositories on Github

In [1]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# sending url to the driver
driver.get('https://github.com/')

In [5]:
# clicking on toggle option
toggle = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
toggle.click()

In [6]:
# clicking on open source
os = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
os.click()

In [7]:
# clicking on trending
tr = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
tr.click()

In [42]:
# making empty lists to add data in it
url = []
title = []
desc = []
c_count = []
language = []

In [43]:
# finding repository title
tle = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/h1/a')
for i in tle:
    title.append(i.text)
    
# finding repository description
d = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/p')
for i in d:
    desc.append(i.text)
# since there is no description of second repository so using hyphen there
desc.insert(1,'-')

# finding language used in programming
lan = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/div[2]/span[1]/span[2]')
for i in lan[0:7]: # since there is no information about language in one repository after 7 repositories
    language.append(i.text)
# adding hyphen where there is no any information about language
language.append('-') 
# adding next repositories languages
for i in lan[7:22]:
    language.append(i.text)
# adding hyphen at right place since there is one more repository which language information is not available
language.append('-')
# adding rest repository languages
for i in lan[22:]:
    language.append(i.text)

In [44]:
# finding urls
ur = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/h1/a')
for i in ur:
    url.append(i.get_attribute('href'))

In [45]:
# importing one more required library
import time

In [46]:
# finding contributors count
# using for loop to open all urls one by one
for i in url:
    driver.get(i)
    time.sleep(2)
    
    try:
        no = driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[4]/div/h2/a/span')
        c_count.append(no.text)
        
    except NoSuchElementException:
        c_count.append('-')

In [49]:
# checking length of data collected
len(title),len(desc),len(c_count),len(language)

(25, 25, 25, 25)

In [50]:
# making dataframe
df = pd.DataFrame({'Repository Title':title,'Repository Description':desc,'Contributors count':c_count,'Language used':language})
df

,Repository Title,Repository Description,Contributors count,Language used
0,lucidrains / PaLM-rlhf-pytorch,Implementation of RLHF (Reinforcement Learning...,4,Python
1,LAION-AI / Open-Assistant,-,26,Python
2,hehonghui / awesome-english-ebooks,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",-,CSS
3,lencx / ChatGPT,"🤖 ChatGPT Desktop Application (Mac, Windows an...",7,Rust
4,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,1,TypeScript
5,apple / ml-stable-diffusion,Stable Diffusion with Core ML on Apple Silicon,11,Python
6,wong2 / chat-gpt-google-extension,A browser extension to display ChatGPT respons...,10,SCSS
7,jlevy / the-art-of-command-line,"Master the command line, in one page",-,-
8,sw-yx / ai-notes,"notes for my AI studies, writing, and product ...",-,JavaScript
9,alist-org / alist,🗂️A file list program that supports multiple s...,,Go
10,transitive-bullshit / chatgpt-api,Node.js client for the unofficial ChatGPT API. 🔥,,TypeScript
11,Cameri / nostream,A Nostr Relay written in TypeScript,-,TypeScript
12,novuhq / novu,The open-source notification infrastructure fo...,94,TypeScript
13,serverless-stack / sst,💥 SST makes it easy to build full-stack server...,112,TypeScript
14,ChatGPT-Hackers / ChatGPT-API-server,API server for ChatGPT,5,Go
15,f / awesome-chatgpt-prompts,This repo includes ChatGPT promt curation to u...,-,HTML
16,HandBrake / HandBrake,HandBrake's main development repository,98,C
17,excalidraw / excalidraw,Virtual whiteboard for sketching hand-drawn li...,-,TypeScript
18,zas023 / JdBuyer,京东抢购自动下单助手，GUI 支持 Windows 和 macOS,-,Python
19,tamagui / tamagui,Universal UI kit and style system for React Na...,113,TypeScript
20,symfony / symfony,The Symfony PHP framework,-,PHP
21,UberGuidoZ / Flipper,Playground (and dump) of stuff I make or modif...,71,C
22,gbj / leptos,Build fast web applications with Rust.,-,Rust
23,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,-,-
24,Anuken / Mindustry,The automation tower defense RTS,491,Java

# Top 100 songs on billiboard

In [62]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [66]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [67]:
# sending url to the webdriver
driver.get('https://www.billboard.com')

In [68]:
# clicking on toggle button
tog = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
tog.click()

In [69]:
# clicking on charts
chart = driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div/div/div/ul/li[1]/h3/a')
chart.click()

In [70]:
# clicking on hot 100
hot = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
hot.click()

In [71]:
# making empty lists to add data in it
s_name = []
a_name = []
l_w_rank = []
p_rank = []
w_o_board = []

In [73]:
# finding song name
song = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
for i in song:
    s_name.append(i.text)
    
# finding artist name
artist = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in artist:
    a_name.append(i.text)
    
# finding last week rank
last = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in last:
    l_w_rank.append(i.text)
    
# finding peak rank
peak = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in peak:
    p_rank.append(i.text)
    
# finding weeks on board
board = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in board:
    w_o_board.append(i.text)

In [74]:
# checking length of data collected
len(s_name),len(a_name),len(l_w_rank),len(p_rank),len(w_o_board)

(100, 100, 100, 100, 100)

In [76]:
# making dataframe
df = pd.DataFrame({'Song name':s_name,'Artist name':a_name,'Last week rank':l_w_rank,'Peak rank':p_rank,'Weeks in board':w_o_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks in board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

# Data science recruiters

In [1]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# sending url to the webdriver
driver.get('https://www.naukri.com/naukri-dot-com-recruiters')

In [4]:
# sending keyword datascience to search
key = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[1]/div[1]/div[2]/input')
key.send_keys('Data science')

In [5]:
# clicking on search
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')
search.click()

In [6]:
# making different lists to add data in it
name = []
designation = []
company = []
skills = []
location = []

In [7]:
# finding names of recruiters
n = driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in n:
    name.append(i.text)
    
# finding designation
des = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in des:
    designation.append(i.text)
    
# finding company name
com = driver.find_elements(By.XPATH,'//p[@class="highlightable"]/a[2]')
for i in com:
    company.append(i.text)
    
# finding skills they hire for
sk = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in sk:
    skills.append(i.text)
    
# finding location
loc = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in loc[0:29]:  # Since there is not information about location after 29 data that's why add only the informative
    location.append(i.text)
# Adding hyphen in place of location whose location data is not available
location.append('-')
# adding rest location data
for i in loc[29:47]: # since there is no information about location after 48 data so adding only them
    location.append(i.text)
# adding hyphen in place of location whose location data is not available
location.append('-')
# adding rest location data
for i in loc[47:]:
    location.append(i.text)

In [10]:
# checking length of collected data
len(name),len(designation),len(company),len(skills),len(location)

(50, 50, 50, 50, 50)

In [12]:
# making dataframe
df = pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills they hire for':skills,'Location':location})
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
10,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
11,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
12,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

# Details of highest selling novels

In [1]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# sending url to the webdriver
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [4]:
# making empty lists to add different data in it
name = []
author = []
number = []
publisher = []
genre = []

In [5]:
# finding book name
book = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    name.append(i.text)
    
# finding author name
aut = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in aut:
    author.append(i.text)
    
# finding total number of volumes sold
no = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in no:
    number.append(i.text)
    
# finding publisher name
pub = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    publisher.append(i.text)
    
# finding genre of books
gen = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    genre.append(i.text)

In [6]:
# checking length of data collected
len(name),len(author),len(number),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [7]:
# making dataframe
df = pd.DataFrame({'Book name':name,'Author name':author,'Volumes sold':number,'Publisher':publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Most watched TV serials of all time

In [9]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [10]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [11]:
# sending url to the webdriver
driver.get('https://www.imdb.com/list/ls095964455/')

In [12]:
# making empty lists to add data in it
name = []
y_span = []
genre = []
runtime = []
rating = []
votes = []

In [13]:
# finding name of the serial
n = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in n:
    name.append(i.text)
    
# finding year span
span = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in span:
    y_span.append(i.text)
    
# finding genre of the show
gen = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in gen:
    genre.append(i.text)
    
# finding runtime of the show
time = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
for i in time:
    runtime.append(i.text)
    
# finding rating of the show
rat = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')
for i in rat:
    rating.append(i.text)
    
# finding number of votes of the show
vot = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in vot:
    votes.append(i.text)

In [14]:
# finding length of data collected
len(name),len(y_span),len(genre),len(runtime),len(rating),len(rating),len(votes)

(100, 100, 100, 100, 100, 100, 100)

In [15]:
# making dataframe
df = pd.DataFrame({'Name':name,'Year span':y_span,'Genre':genre,'Run time':runtime,'Ratings':rating,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,099,288"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,189,489"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"993,776"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,097"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,226"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,359"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,943"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,817"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,699"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"246,823"

# Details of Datasets

In [16]:
# importing required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [17]:
# connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\sonus\Downloads\chromedriver_win32\chromedriver.exe")

In [19]:
# sending url to the webdriver
driver.get('https://archive.ics.uci.edu')

In [30]:
# clicking on view all datasets
al = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
al.click()

In [31]:
# making empty lists to add different data in it
name = []
d_type = []
task = []
a_type = []
instance = []
attribute = []
year = []

In [32]:
# finding dataset name
n = driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a')
for i in n:
    name.append(i.text)
    
# finding data type 
ty = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in ty[1:]:  # adding only desired data
    d_type.append(i.text)
    
# finding task
tk = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in tk[1:]:
    task.append(i.text)
    
# finding attribute type
at = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in at[1:]:
    a_type.append(i.text)
    
# finding number of instances
ins = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in ins[1:]:
    instance.append(i.text)
    
# finding number of attributes
att = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in att[1:]:
    attribute.append(i.text)
    
# finding year
y = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in y[1:]:
    year.append(i.text)

In [33]:
# finding lenght of data collected
len(name),len(d_type),len(task),len(a_type),len(instance),len(attribute),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [36]:
# making dataframe
df = pd.DataFrame({'Dataset name':name,'Data type':d_type,'Task':task,'Attribute type':a_type,'No of instances':instance,'No of attribute':attribute,'Year':year})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,2.4 GHZ Indoor Channel Measurements,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark)","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places,Multivariate,"Classification, Clustering",,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,,9800,3,2019
618,YouTube Multiview Video Games Dataset,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection,Text,Classification,,1956,5,2017
620,Z-Alizadeh Sani,,Classification,"Integer, Real",303,56,2017
621,Zoo,Multivariate,Classification,"Categorical, Integer",101,17,1990